*{
    padding: 0px;
    margin: 0px;
    font-family: courier new;
    box-sizing: border-box;
    color: #dde2ed;
}

body {
    background-color: #2E3440;
}

/* wrapper for any inline elements that should fit normally on screen */
.pageBlock{
    display: inline-block;
    -moz-box-orient: vertical;
    height: auto;
}

/* This is for fixed content that should 100% of the height */
.fixedCont{
    position: fixed;
    top: 0px;
    height: 100%;
}

/* This is for fixed content that should occupy tab size of top of page */
.fixedContTab{
    position: fixed;
    top: 0px;
    height: 75px;
    text-align: center;
}

/* text for a button or tab */
.buttonCont{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* This is for fixed content that should be a tab size on the bottom of the page */
.fixedContFoot{
    position: fixed;
    bottom: 0px;
    height: 80px;
    padding: 1%;
    background-color: #2E3440;
}

.chatMsg{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* ID STYLES */
#client_msg{
    width: 75%;
    height: 30px;
    border-radius: 10px;
    padding: 8px;
    color: black;
}
#client_msg:focus{
    outline: none;
}
#client_msg_btn{
    width: 20%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: white;
    float: right;
    color: black;
}
#client_msg_btn:hover{
    background-color: lightgray;
}
#client_msg_btn:active{
    background-color: grey;
}
#client_msg_btn:focus{
    outline: none;
}
#chatList{
    width: 100%;
    height: auto;
    padding-left: 2%;
    margin-bottom: 100px;
}