*{
    padding: 0px;
    margin: 0px;
    font-family: courier new;
    box-sizing: border-box;
    cursor: default;
}

body {
    background-color: #2E3440;
    color: #dde2ed;
}

/* wrapper for any inline elements that should fit normally on screen */
.pageBlock{
    display: inline-block;
    -moz-box-orient: vertical;
    height: auto;
}

/* This is for fixed content that should 100% of the height */
.fixedCont{
    position: fixed;
    top: 0px;
    height: 100%;
}

/* This is for fixed content that should occupy tab size of top of page */
.fixedContTab{
    position: fixed;
    top: 0px;
    height: 75px;
    text-align: center;
}

/* text for a button or tab */
.buttonCont{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* This is for fixed content that should be a tab size on the bottom of the page */
.fixedContFoot{
    position: fixed;
    bottom: 0px;
    height: 80px;
    padding: 1%;
    background-color: #2E3440;
}

.chatMsg{
    margin-top: 5px;
    margin-bottom: 5px;
}
.blockList{
    width: 100%;
    height: calc(100vh - 75px);
    text-align: center;
    overflow-x: auto;
}
.blockListItem{
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: bold;
    border-bottom: 1px solid grey;
}

/* ID STYLES */
#client_msg{
    width: 75%;
    height: 30px;
    border-radius: 10px;
    padding: 8px;
    color: black;
}
#client_msg:focus{
    outline: none;
}
#client_msg_btn{
    width: 20%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: white;
    float: right;
    color: black;
}
#client_msg_btn:hover{
    background-color: lightgray;
}
#client_msg_btn:active{
    background-color: grey;
}
#client_msg_btn:focus{
    outline: none;
}
#chatList{
    width: 100%;
    height: auto;
    padding-left: 2%;
    margin-bottom: 100px;
}

/*DROP DOWN*/
.dropbtn {
  background-color: #2E3440;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 160px;
  border: 1px solid rgba(0,0,0, 0.25);
}
.dropbtn:hover{
    filter: brightness(75%);
}
.dropbtn:focus{
    outline: none;
    border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  filter: brightness(75%);
}

.dropdownButton{
    display: block;
    border: none;
    width: 100%;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f1f1f1;
}
.dropdownButton:hover{
    filter: brightness(75%);
}
.dropdownButton:focus{
    outline: none;
    border: none;
}

/* NOT DROPDOWN ANYMORE */

/* genbtns will change theme with the page */
.genbtn{
    background-color: #2E3440;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 160px;
    border: 1px solid rgba(0,0,0, 0.25);
    width: 50%;
    margin: none;
}
.genbtn:hover{
    filter: brightness(75%);
}
.genbtn:focus{
    outline: none;
    border: none;
}
